body {
    background-color: #6B3FA0;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #6B3FA0;
}
header span {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 2px;
}
  
  .form-container {
    width: 500px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
  }
  
  .input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .button-container {
    text-align: center;
  }
  
  .button-container input[type="submit"], .button-container input[type="button"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button-container input[type="submit"] {
    background-color: #6B3FA0;
  }
  
  .button-container input[type="submit"]:hover {
    background-color: #6b3fa0c7;
  }
  
  .button-container input[type="button"] {
    background-color: #6B3FA0;
  }
  
  .button-container input[type="button"]:hover {
    background-color: #6b3fa0c7;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
  }
  
  .flex-item {
    flex-basis: 90%;
  }


  